/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

body {
  background-color: #EEF0F6;
}

a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #7989b9;
  border-color: #7989b9;
}

  .btn-primary:hover {
    background-color: #687ab0;
    border-color: #687ab0;
  }
